/* Themes and Colours Custom Properties */

$primary-background-color:#ffff;
$btn-color-primary: #FCED70;



/* Fonts and Text Hierarchy */



// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900


header {

    background-color: $primary-background-color;
}