/*IMPORTS */
.top-margin {
  margin-top: 5%;
  margin-bottom: 5%;
}

.button {
  color: white;
  background-color: #fced70;
}

.primary-button {
  color: #131313;
  background-color: #fced70;
  font-size: medium;
  text-transform: uppercase;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #fced70;
  width: 50%;
  transition: 0.4s;
}

.primary-button:hover {
  color: #debd39;
  background-color: white;
  border: 1px solid #fced70;
  cursor: pointer;
}

.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.flex-start {
  justify-content: start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: end;
}

.gap-20 {
  gap: 20px;
}

html {
  font-size: clamp(0.875rem, 0.7874rem + 0.3738vw, 1.25rem);
}

h1 {
  font-family: "Inter", "sans-serif";
  font-size: clamp(1.3rem, 1.45rem + 0.8988vw, 2.85rem);
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  h1 {
    margin-top: 10%;
    margin-bottom: 11%;
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media (max-width: 380px) {
  h1 {
    margin-left: 12%;
    margin-right: 12%;
  }
}

h3 {
  font-family: "Inter", "sans-serif";
  color: white;
  font-size: 1.75rem;
}

h4 {
  font-family: "Inter", "sans-serif";
  font-weight: 500;
  line-height: 1rem;
}

p {
  font-family: "Inter", "sans-serif";
  line-height: 1.35rem;
}

span {
  font-family: "Inter", "sans-serif";
}

html {
  background-color: #ffffff;
}

body {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier();
  background-color: white;
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

header {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 4;
  background-color: white;
  box-sizing: content-box;
  animation-name: push-in-top;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier();
}
header nav {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  transition: 0.4s;
}
header nav .mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  header nav {
    height: 44px;
  }
  header nav .mobile-menu {
    display: flex;
  }
}
@keyframes push-in-top {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}
header nav .logo {
  width: 60%;
  min-width: 140px;
  height: 65px;
  border-radius: 5px;
  transition: 0.4s;
}
@media (max-width: 768px) {
  header nav .logo {
    width: 10rem;
  }
}
header nav .logo:hover {
  opacity: 40%;
  cursor: pointer;
}
header nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 4vw;
  margin-right: 20px;
}
@media (max-width: 768px) {
  header nav .navbar {
    display: none;
  }
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-self: center;
}
header nav li {
  font-family: "Inter", "sans-serif";
  transition: 0.4s;
}
header nav .title-menu {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-content: center;
  transition: 0.4s;
}
header nav .title-menu:hover {
  opacity: 40%;
  cursor: pointer;
}

.hero-section {
  position: relative;
}
.hero-section img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 55.18dvh;
}
@media (max-width: 768px) {
  .hero-section img {
    min-height: 72dvh;
  }
}
@media (max-width: 380px) {
  .hero-section img {
    min-height: 82dvh;
  }
}
.hero-section .text-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 10%;
  left: 10%;
}
@media (max-width: 768px) {
  .hero-section .text-description {
    top: auto;
    bottom: 15%;
  }
  .hero-section .text-description .hero-section-text-description {
    width: 60%;
  }
}
@media (max-width: 380px) {
  .hero-section .text-description {
    top: auto;
    bottom: 15%;
  }
}

.categories {
  margin-top: 5%;
}
.categories .category-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  gap: 2%;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .categories .category-wrapper {
    margin-top: 6%;
  }
}
.categories .category-wrapper .product-card {
  position: relative;
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  width: 30%;
  height: auto;
  overflow: hidden;
  margin-bottom: 2%;
}
.categories .category-wrapper .product-card picture {
  background-color: #f5f3f1;
}
@media (max-width: 768px) {
  .categories .category-wrapper .product-card {
    width: 46%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.categories .category-wrapper .product-card img {
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.categories .category-wrapper .product-card img:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.categories .category-wrapper .product-description {
  font-family: "Inter", "sans-serif";
  position: absolute;
  bottom: 12%;
  left: 6%;
}

.wrapper {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 12%;
  padding-right: 12%;
  justify-content: center;
  gap: 2%;
  width: 100%;
  box-sizing: border-box;
}
.wrapper .row {
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin-bottom: 2%;
}
.wrapper .product-card {
  position: relative;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  width: 390px;
  height: 220px;
  overflow: hidden;
}
.wrapper .product-card img {
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.wrapper .product-card img:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.wrapper .product-description {
  font-family: "Inter", "sans-serif";
  position: absolute;
  bottom: 12%;
  left: 6%;
}

.orange-section {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 256px;
  background-color: #f7eee3;
  overflow: hidden;
}
@media (max-width: 768px) {
  .orange-section {
    height: 52dvh;
  }
}
@media (max-width: 380px) {
  .orange-section {
    height: 80dvh;
  }
}
.orange-section .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 5%;
  margin-left: 2%;
  margin-right: 2%;
  width: 88%;
}
@media (max-width: 768px) {
  .orange-section .container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
  }
}
.orange-section .container img {
  display: flex;
  max-width: 50%;
  height: -moz-max-content;
  height: max-content;
  align-self: center;
}
.orange-section .container .policies-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-family: "Inter", "sans-serif";
  line-height: 16px;
  font-size: 12px;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 45%;
}
@media (max-width: 768px) {
  .orange-section .container .policies-text {
    max-width: 90%;
  }
}

.gallery-section {
  width: 100%;
}
.gallery-section .gallery-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  margin-bottom: 6%;
}
@media (max-width: 768px) {
  .gallery-section .gallery-container {
    justify-content: start;
    overflow-y: scroll;
    gap: 0%;
  }
}
.gallery-section .gallery-container .gallery-img {
  max-width: 20%;
}
@media (max-width: 768px) {
  .gallery-section .gallery-container .gallery-img {
    max-width: 42%;
    margin-left: 2%;
  }
}

.nomad-section {
  background-color: #F7EEE3;
}
@media (max-width: 768px) {
  .nomad-section .nomad-container {
    flex-direction: column;
  }
}
.nomad-section .nomad-container .description-nomad {
  width: 60%;
  align-self: start;
  gap: 4rem;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 768px) {
  .nomad-section .nomad-container .description-nomad {
    width: 90%;
    margin-bottom: 0%;
    margin-top: 8%;
  }
}
.nomad-section .nomad-container .description-nomad .title-nomad {
  font-size: large;
  font-family: "Inter";
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 16px;
}
.nomad-section .nomad-container .description-nomad .text-nomad {
  font-size: clamp(1.2rem, 0.9rem + 0.4486vw, 1.65rem);
  font-weight: 200;
  width: 50%;
  line-height: 2rem;
  font-style: italic;
}
@media (max-width: 768px) {
  .nomad-section .nomad-container .description-nomad .text-nomad {
    width: 80%;
  }
}
.nomad-section .nomad-container .description-nomad .text-nomad b {
  font-weight: 600;
}
.nomad-section .nomad-container img {
  width: 40%;
}
@media (max-width: 768px) {
  .nomad-section .nomad-container img {
    width: 85%;
    align-self: end;
  }
}

.social-feed-section .social-gallery {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  overflow: scroll;
  margin-right: 0;
}
@media (max-width: 768px) {
  .social-feed-section .social-gallery {
    margin: 0%;
  }
}
.social-feed-section .social-gallery .social-gallery-container img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .social-feed-section .social-gallery .social-gallery-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0%;
  }
  .social-feed-section .social-gallery .social-gallery-container img {
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .social-feed-section .social-gallery .social-gallery-container img {
    width: 42%;
  }
}

.bottom-banner img {
  width: 100%;
}
.bottom-banner.bg-white {
  background: white;
}
.bottom-banner .primary-button {
  width: 100%;
}

.subscribe {
  width: 100%;
  background-color: #514f4d;
}
@media (max-width: 768px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.subscribe .subscribe-container {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .subscribe .subscribe-container {
    align-self: center;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
.subscribe .subscribe-container .input-container {
  border-radius: 6px;
  border: solid 1px #F7EEE3;
  overflow: hidden;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .subscribe .subscribe-container .input-container {
    width: 100%;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.subscribe .subscribe-container .input-container input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.subscribe .subscribe-container .input-container input::-moz-placeholder {
  color: #f7eee3;
  opacity: 50%;
}
.subscribe .subscribe-container .input-container input::placeholder {
  color: #f7eee3;
  opacity: 50%;
}
.subscribe .subscribe-container .input-container .input-type {
  width: 14rem;
  padding: 15px;
  color: #f7eee3;
}
@media (max-width: 768px) {
  .subscribe .subscribe-container .input-container .input-type {
    width: 100%;
    text-align: center;
  }
}
.subscribe .subscribe-container .input-container .subscription-button {
  height: inherit;
  box-sizing: content-box;
  transform: translateX(2px);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.75rem;
}
@media (max-width: 768px) {
  .subscribe .subscribe-container .input-container .subscription-button {
    display: none;
  }
}
.subscribe .subscribe-container .input-container .subscription-button:hover {
  cursor: pointer;
}
.subscribe .subscribe-container .social-icons {
  display: flex;
  gap: 20%;
}
@media (max-width: 768px) {
  .subscribe .subscribe-container .social-icons {
    display: none;
  }
}
.subscribe .subscribe-container .social-icons img {
  width: 3.8rem;
}
.subscribe .subscription-button-mobile {
  display: none;
}
@media (max-width: 768px) {
  .subscribe .subscription-button-mobile {
    background-color: #F7EEE3;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    width: 90%;
    height: 54px;
  }
}

.footer {
  width: 100%;
  background-color: #131313;
  font-family: "Inter", "sans-serif";
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #131313;
  flex-wrap: wrap;
}
.footer .footer-container .footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}
.footer .footer-container .footer-column h4 {
  font-size: 0.875rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
  line-height: 1.1rem;
}
.footer .footer-container .footer-column ul {
  list-style: none;
  padding: 0;
}
.footer .footer-container .footer-column ul li {
  margin-bottom: 8px;
  margin: 5px 0;
  color: white;
  font-size: 0.875rem;
  line-height: 1.1rem;
}
.footer .footer-container .footer-column ul li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.1rem;
}
.footer .footer-container .footer-column ul li a:hover {
  text-decoration: underline;
}
.footer .footer-container .footer-column p {
  color: white;
}
.footer .footer-container .footer-column .contact-info a {
  text-decoration: none;
  color: white;
}
.footer .footer-container .footer-column .contact-info a:hover {
  text-decoration: underline;
}
.footer .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 768px) {
  .footer .footer-bottom {
    gap: 20px;
  }
}
.footer .footer-bottom address {
  margin: 5px 0;
  color: white;
  font-size: 0.875rem;
}
@media (max-width: 768px) {
  .footer .footer-bottom address {
    font-size: calc(0.875rem - 2px);
  }
}
.footer .footer-bottom p {
  margin: 5px 0;
  color: white;
  font-size: 0.875rem;
}
@media (max-width: 768px) {
  .footer .footer-bottom p {
    font-size: calc(0.875rem - 2px);
  }
}
.footer .footer-bottom p a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}
@media (max-width: 768px) {
  .footer .footer-bottom p a {
    font-size: calc(0.875rem - 2px);
  }
}
.footer .footer-bottom p a:hover {
  text-decoration: underline;
}

.title-pl-container {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.title-pl-container h1 {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: start;
}
.title-pl-container p {
  display: inline-block;
  width: 45%;
  line-height: 1.2rem;
}
@media (max-width: 768px) {
  .title-pl-container p {
    width: 100%;
  }
}

.product-list {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 87%;
  padding-top: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.product-list .product-list-container {
  width: 30%;
}
@media (max-width: 768px) {
  .product-list .product-list-container {
    width: 45%;
  }
}
@media (max-width: 380px) {
  .product-list .product-list-container {
    width: 90%;
  }
}
.product-list .product-list-container img {
  width: 112%;
  transition: 0.4s;
}
.product-list .product-list-container img .product-image .product-image:hover {
  cursor: pointer;
}
.product-list .product-list-container img img:hover {
  cursor: pointer;
}
.product-list .product-list-container .product-description {
  display: flex;
  flex-direction: column;
}
.product-list .product-list-container .product-description h4 {
  font-size: clamp(0.7rem, 0.7664rem + 0.9969vw, 1rem);
  width: inherit;
  margin-top: 5%;
}
.product-list .product-list-container .product-description span {
  font-size: clamp(0.85rem, 0.3897rem + 0.8972vw, 0.9rem);
  margin-top: 2%;
  width: inherit;
  line-height: 1rem;
  color: #9c9c9c;
}

.bottom-cta {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}
.bottom-cta .primary-button {
  width: 20%;
}
@media (max-width: 768px) {
  .bottom-cta .primary-button {
    width: 45%;
  }
}

.single-product {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.single-product .sp-container {
  width: 100%;
}
.single-product .sp-container h4 {
  margin-bottom: 10px;
}
.single-product .sp-container .first-image-sp {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2%;
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp {
    flex-direction: column;
  }
}
.single-product .sp-container .first-image-sp h1 {
  margin-top: 0;
  text-align: start;
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp h1 {
    margin-top: 0.8rem;
    margin-left: 0;
  }
}
.single-product .sp-container .first-image-sp img {
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp img {
    width: 100%;
  }
}
.single-product .sp-container .first-image-sp p {
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp p {
    font-size: 1.2rem;
  }
}
.single-product .sp-container .first-image-sp p b {
  font-weight: 700;
}
.single-product .sp-container .first-image-sp .product-info .color-options {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 1.5rem;
  margin-top: 0.625rem;
}
.single-product .sp-container .first-image-sp .product-info .color-circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.4s;
}
.single-product .sp-container .first-image-sp .product-info .color-circle .color-circle:hover {
  opacity: 60%;
  border: 2px solid #5a5a5a;
}
.single-product .sp-container .first-image-sp .product-info .color-circle:nth-child(1) {
  background-color: #011F89;
}
.single-product .sp-container .first-image-sp .product-info .color-circle:nth-child(2) {
  background-color: #3D8901;
}
.single-product .sp-container .first-image-sp .product-info .color-circle:nth-child(3) {
  background-color: #890109;
}
.single-product .sp-container .first-image-sp .product-info .color-circle:nth-child(4) {
  background-color: #FCED82;
}
.single-product .sp-container .first-image-sp .product-info .color-circle:nth-child(5) {
  background-color: #131313;
}
.single-product .sp-container .first-image-sp .product-info .color-circle:nth-child(5) {
  background-color: #F7EEE3;
}
.single-product .sp-container .first-image-sp .product-info .product-options-checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp .product-info .product-options-checkbox {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }
}
.single-product .sp-container .first-image-sp .product-info .product-options-checkbox .upgrade-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  font-family: "Inter", "sans-serif";
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp .product-info .product-options-checkbox .upgrade-option {
    color: #9c9c9c;
  }
}
.single-product .sp-container .first-image-sp .product-info .product-options-checkbox .upgrade-option input {
  margin: 0;
  width: 1.2rem;
  aspect-ratio: 1;
  border: 0.5px #9c9c9c;
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp .product-info .product-options-checkbox .upgrade-option input {
    width: 1.5rem;
  }
}
.single-product .sp-container .first-image-sp .product-info .product-options-checkbox .upgrade-option label {
  display: inline-flex;
  align-self: center;
  font-weight: 200;
}
@media (max-width: 768px) {
  .single-product .sp-container .first-image-sp .product-info .product-options-checkbox .upgrade-option label {
    font-size: 1.2rem;
  }
}
.single-product .sp-container .first-image-sp .product-info .product-options-checkbox .add-to-cart {
  padding-top: 200px;
  display: flex;
  justify-content: end;
}
.single-product .sp-container .first-image-sp .product-info .product-options-checkbox .add-to-cart .primary-button {
  justify-content: end;
}
.single-product .sp-container .product-description h1 {
  margin-left: 0;
  text-align: start;
}
.single-product .sp-container .product-description .product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}
.single-product .sp-container .product-description .product-container .dimensions {
  width: 45%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .product-container .dimensions {
    width: 100%;
  }
}
.single-product .sp-container .product-description .product-container .dimensions .first-col {
  text-align: start;
}
.single-product .sp-container .product-description .product-container .dimensions .second-col {
  text-align: end;
}
.single-product .sp-container .product-description .product-container .dimensions span {
  color: #9C9C9C;
  border-bottom: 0.5px solid #9C9C9C;
  padding-bottom: 15px;
  padding-top: 15px;
}
.single-product .sp-container .product-description .product-container img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .product-container img {
    width: 100%;
  }
}
.single-product .sp-container .product-description .about .about-details {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .about .about-details {
    flex-direction: column;
  }
}
.single-product .sp-container .product-description .about .about-details p {
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .about .about-details .detail {
    margin-bottom: 5%;
  }
}
.single-product .sp-container .product-description .about .key-features {
  width: 100%;
}
.single-product .sp-container .product-description .about .key-features .icon-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.single-product .sp-container .product-description .about .key-features .icon-features .feature {
  width: 7.5rem;
  display: flex;
  flex-direction: column;
}
.single-product .sp-container .product-description .about .key-features .icon-features .feature img {
  width: 100%;
}
.single-product .sp-container .product-description .about .key-features .icon-features .feature p {
  text-align: center;
}
.single-product .sp-container .product-description .about .video-info {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .about .video-info {
    flex-direction: column;
  }
}
.single-product .sp-container .product-description .about .video-info video {
  width: 45%;
  height: 32rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .about .video-info video {
    width: 100%;
  }
}
.single-product .sp-container .product-description .about .video-info .detail {
  margin-left: 5%;
  margin-top: 0;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .about .video-info .detail {
    margin-left: 0%;
  }
}
.single-product .sp-container .product-description .about .video-info .detail h1 {
  margin-top: 0%;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .about .video-info .detail h1 {
    margin-left: 0%;
    margin-top: 5%;
  }
}
.single-product .sp-container .product-description .about .video-info .detail .about-details .detail {
  margin-left: 0%;
  margin-top: 5%;
}
.single-product .sp-container .product-description .about .bottom-video {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
@media (max-width: 768px) {
  .single-product .sp-container .product-description .about .bottom-video {
    display: none;
  }
}
.single-product .sp-container .product-description .about .bottom-video video {
  width: 45%;
  height: 32rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-product .sp-container .product-description .about .bottom-video .about-details {
  margin-top: 5%;
  margin-bottom: 5%;
}
.single-product .sp-container .product-description .about .bottom-video .about-details .detail {
  margin-top: 5%;
  margin-left: 0%;
  margin-right: 5%;
}
.single-product .sp-container .product-description .about .bottom-video .about-details .detail h1 {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 5%;
}
.single-product .sp-container .product-description .about .bottom-video .about-details .detail p {
  margin-right: 5%;
}/*# sourceMappingURL=global.css.map */