/*IMPORTS */

/* Themes and Colours Custom Properties */

$primary-background-color: #ffff;
$btn-color-primary: #fced70;

/* Fonts and Text Hierarchy */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

h1 {
  font-family: "Inter", "sans-serif";
  font-size: 36px;
  text-align: center;
}

h3 {
  font-family: "Inter", "sans-serif";
  color: #ffff;
  font-size: 15rem;

}

header {
  nav {
    width: 100%;
    height: 64px;
    background-color: rgb(203, 203, 203);

    ul {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-self: center;
    }
  }
}

body {
  background-color: $primary-background-color;
}

.button {
  color: $primary-background-color;
  background-color: $btn-color-primary;
}

.hero-section {
  position: relative;

  img {
    background-size: cover;
    width: 100%;
  }

  .text-description {
    position: absolute;
    top: 10%;
    left: 10%;
  }
}

.categories {
  margin-top: 5%;
}

.wrapper {
  margin-top: 3%;
  padding-left: 12%;
  padding-right: 12%;
  justify-content: center;
  gap: 2%;
  width: 100%;
  box-sizing: border-box;

  .row {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 2%;
  }

  .product-card {
    position: relative;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    width: 390px;
    height: 220px;
    background-color: #fced70;

    img {
      display: flex;
      width: 100%;
      flex: 0 0 auto;
      background-size: auto;
    }
  }

  .product-description {
    font-family: "Inter", "sans-serif";
    position: absolute;
    bottom: 12%;
    left: 6%;
  }
}
