@import "variables.scss";

.button {
  color: $primary-background-color;
  background-color: $btn-color-primary;
}

.primary-button {
  color: $primary-type-color;
  background-color: $btn-color-primary;
  font-size: medium;
  text-transform: uppercase;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  width: 50%;
  transition: 0.4s;
}

.primary-button:hover {
  background-color: $primary-background-color;
  border: 1px solid $btn-color-primary;
  cursor: pointer;
  }
