@import 'variables.scss';

html{
  font-size: clamp(0.875rem, 0.7874rem + 0.3738vw, 1.25rem);
}

h1 {
  font-family: "Inter", "sans-serif";
  // font-size: 36px; 
  font-size: clamp(2.25rem, 2.1565rem + 0.3988vw, 2.65rem);
  text-align: center;
}

h3 {
  font-family: "Inter", "sans-serif";
  color: #ffff;
  // font-size: 28px;
  font-size: 1.75rem;
}

p {

  font-family: "Inter", "sans-serif";

}

span {

  font-family: "Inter", "sans-serif";

}
