@import 'variables.scss';

h1 {
    font-family: "Inter", "sans-serif";
    font-size: 36px;
    text-align: center;
  }
  
  h3 {
    font-family: "Inter", "sans-serif";
    color: #ffff;
    font-size: 28px;
  }