
//COLORS

$primary-background-color: #ffff;
$secondary-background-color : #F7EEE3;;
$primary-type-color: #131313;
$btn-color-primary: #fced70;
$btn-color-primary-hover: #debd39;



//MARGINS

$top-margin: 5%;
$bottom-margin: 5%;
$left-margin:5%;
$right-margin:5%;

