
//COLORS

$primary-background-color: #ffff;
$secondary-background-color : #F7EEE3;;
$primary-type-color: #131313;
$btn-color-primary: #fced70;
$btn-color-primary-hover: #debd39;
$subscribe-btn-color:#F7EEE3;


//PRODUCT COLOURS


$first-option-color:#011F89;
$second-option-color:#3D8901;
$third-option-color:#890109;
$fourth-option-color:#FCED82;
$fifth-option-color:#131313;
$sixth-option-color:#F7EEE3;




//MARGINS

$top-margin: 5%;
$bottom-margin: 5%;
$left-margin:5%;
$right-margin:5%;



//Type Sizes 

$footer-font-size: 0.875rem;


//Line-heights

$md-line-height:1.1rem;